<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4c875">  <td>17/10/03 14:43:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ParameterByDataProvider.setup()[pri:0, instance:dataDrivenTest.ParameterByDataProvider@204f30ec]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1704422524</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>17/10/03 14:43:52</td>   <td>11604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParameterByDataProvider.testMethod(java.lang.String, java.lang.String)[pri:0, instance:dataDrivenTest.ParameterByDataProvider@204f30ec]">testMethod</td> 
  <td>TestNG-tests-1@1704422524</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>17/10/03 14:44:06</td>   <td>25215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParameterByDataProvider.testMethod(java.lang.String, java.lang.String)[pri:0, instance:dataDrivenTest.ParameterByDataProvider@204f30ec]">testMethod</td> 
  <td>TestNG-tests-1@1704422524</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>17/10/03 14:44:06</td>   <td>25231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParameterByDataProvider.testMethod(java.lang.String, java.lang.String)[pri:0, instance:dataDrivenTest.ParameterByDataProvider@204f30ec]">testMethod</td> 
  <td>TestNG-tests-1@1704422524</td>   <td></td> </tr>
</table>
