<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4c875">  <td>17/10/02 21:33:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverTestSauceLab.testFoo(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:crossBrowserTest.DriverTestSauceLab@6a4f787b]">testFoo</td> 
  <td>TestNG-PoolService-1@1450359977</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>17/10/02 21:33:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverTestSauceLab.testFoo(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:crossBrowserTest.DriverTestSauceLab@6a4f787b]">testFoo</td> 
  <td>TestNG-PoolService-1@1450359977</td>   <td></td> </tr>
</table>
